@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;

@use "sass:map";

$width: 30vw;
$height: 100dvh;
$margin: 30px;

$section-height: 80px;

.sidebar-container {

    position: fixed;
    right: 5vw;
    top: 0;
    box-sizing: border-box;
    width: $width;
    height: calc($height - $margin * 2);
    margin:  $margin 0;
    padding: 5vh 3vw;
    border-radius: 20px;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    transition: all 300ms ease-out;
    animation: showText 300ms ease-out;
    background-color: var(--alt);

    &.hide {
        animation: hideText 300ms forwards;
    }

    &.closed {
        transform: translateX(50vw);
        opacity: 0;
    }

    &.open {
        transform: translateX(0vw);
        opacity: 1;
    }

    .sidebar-section {
        overflow: hidden;
        flex: 1 1 100%;

        > * {
            font-family: $font-sans;
            font-size: 1.5rem;
            color: var(--main);
            text-transform: capitalize;
            text-decoration: none;
        }

        a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 100%;
        }

        .icon {
            height: 100%;
            width: auto;
            aspect-ratio: 1;

            g path:nth-child(2) { fill: var(--main); }
        }
    }    
    
}

@keyframes hideText {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--alt);
    }
}

@keyframes showText {
    from {
        background-color: var(--alt);
    }
    to {
        background-color: transparent;
    }
}