//BLUE
$lightBlue:  #53B3CB;
$darkBlue:  #0B5563;

// GREY
$grey:  #897C80;

//  BROWN
$brown:  #1C0F13;

// CREAM
$cream:  #F3E9DC;

[data-theme="light"] {
  --main: #F3E9DC;
  --alt: #0B5563;
}

[data-theme="dark"] {
  --main: #0B5563;
  --alt: #53B3CB;
}
